.container {
  width: 110px;
  position: fixed;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  li {
    width: 110px;
    height: 30px;
    padding-left: 20px;
    line-height: 30px;
    cursor: pointer;
  }
  li:hover {
    background-color: #d8dbe5;
  }
}