@import "src/utils/variable";

$border: 1px solid black;
$home_height: 571px;

.home {
  display: flex;
  height: $home_height;
  justify-content: space-between;
}

.person_bar {
  display: flex;
}

.list, .right {
  background-color: #ffffff;
}

// 左边部分
.left {
  width: 30%;
  // 左上部分
  > section:nth-of-type(1) {
    margin-bottom: 30px;

    .person_info {
      cursor: pointer;
    }
  }

  // 联系人列表
  .list {
    height: 60vh;
    overflow-y: scroll;
    border: $border;
    position: relative;
    // 列表项
    > div {
      height: 80px;
      padding: 9px;
      display: flex;
      justify-content: space-between;
      border-bottom: $border;
      // 中间部分
      .list_mid {
        width: 70%;
        margin: 0 10px;
        text-align: left;
        // 消息内容
        div {
          width: 260px;
          height: 20px;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    // bar
    > section {
      width: 100%;
      position: absolute;
      bottom: 0;

      button {
        float: right;
      }
    }
  }
}

.right {
  width: 50%;
  position: relative;
  border: $border;

  .person_bar {
    border-bottom: $border;
  }

  .dialogue {
    height: $home_height - $functional_height - $input_msg_height - $profile_height - 3px;
    padding: 0;
    margin-bottom: $functional_height + $input_msg_height;
    overflow-y: scroll;
    transform: rotate(180deg); // 整个聊天框旋转实现从下往上渲染
    // 单条消息
    .news_item {
      transform: rotate(180deg); // 单条消息旋转显示回正常视角
      margin-bottom: 20px;
      // 消息内容
      div > div {
        display: inline-block;
        border: $border;
        // 表情包类型
        > img {
          width: 100px;
          height: 100px;
        }

        // 富文本包裹标签
        > p {
          margin: 0;
        }
      }
    }

    // 本人消息
    .own_news {
      direction: rtl; // 使其显示在聊天框右侧(在这里不是指文本方向
      p {
        direction: ltr; // 不设ltr继承rtl的话符号会显示在左边颠倒文本顺序
      }
    }
  }

  .functional {
    width: 100%;
    height: $functional_height;
    position: absolute;
    bottom: $input_msg_height;
    border: $border;

    button {
      height: 34px;
      padding: 0;
      text-align: center;
      min-width: 54px;

      img {
        height: 18px;
      }
    }

    // 发送键
    button:nth-of-type(3) {
      float: right;
      background-color: #ccccff;
    }
  }

  .input_msg {
    width: 100%;
    height: $input_msg_height;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
  }
}