$border: 1px solid black;

.home {
  display: flex;
  justify-content: space-between;
}

.person_bar {
  display: flex;
}

.list, .right {
  background-color: #ffffff;
}

// 左边部分
.left {
  width: 30%;
  // 左上部分
  >section:nth-of-type(1) {
    margin-bottom: 30px;
  }
  // 联系人列表
  .list {
    height: 60vh;
    overflow-y: scroll;
    border: $border;
    // 列表项
    >div {
      height: 80px;
      padding: 9px;
      display: flex;
      justify-content: space-between;
      border-bottom: $border;
    }
  }
}

.right {
  width: 50%;
  position: relative;
  border: $border;
  .person_bar {
    border-bottom: $border;
  }
  .functional {
    height: 50px;
    position: absolute;
    bottom: 75px;
    border-bottom: $border;
  }
  .input_msg {
    height: 75px;
    position: absolute;
    bottom: 0;
  }
}